!!!
%html{:lang => 'en', :prefix => 'og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml', :dir => 'ltr'}
  %head
    %title Micro Loan Application
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Oxygen|Scope+One", :rel => "stylesheet"}/

  %body
    = render 'partials/notification'
    = render 'partials/fix_nav_bar'
    .uk-container.uk-container-center
      %h1.uk-article-title Sample
      .uk-grid{"data-uk-grid-margin" => ""}
        .uk-width-medium-1-4.uk-hidden-small
          %ul
            %li
              Sample 1
            %li
              Sample 2
        .uk-width-medium-3-4
          = yield

